.expenseData{
  background-color: rgb(212, 217, 218);
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  transition: all .6s ease-in-out
}

.expenseData:hover{
background-color: aliceblue;

}
